.videoContainer {
  // padding-top: calc(8vw);
  // padding-bottom: calc(9vw);
  height: 227px;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  .videoBox {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
