<section class="landing-page">
  <header class="header">
    <div class="topBar">
      <div id="header-outer">
        <header id="top">
          <div class="container" style="visibility: visible;">
            <div class="row">
              <div class="col span_3">
                <a id="logo" [routerLink]="['/auth/landing']" data-supplied-ml="false">
                  <img class="img-fluid img-50" src="assets/images/c1.png" alt="" />
                </a>
              </div>

              <div class="col span_9 col_last">
                <div
                  class="slide-out-widget-area-toggle mobile-icon fullscreen"
                >
                  <div>
                    <a href="#sidewidgetarea" class="closed">
                      <span>
                        <i class="lines-button x2"> <i class="lines"></i> </i>
                        <span class="close-wrap">
                          <span class="close-line close-line1"></span>
                          <span class="close-line close-line2"></span> </span
                      ></span>
                    </a>
                  </div>
                </div>

                <nav>
                  <a href="#" class="mobileNav"
                    ><span class="hamburger"
                      ><i class="feather icon-more-horizontal"></i
                    ></span>
                    <span class="close-wrap">
                      <span class="close-line close-line1"></span>
                      <span class="close-line close-line2"></span>
                    </span>
                  </a>
                  <ul>
                    <li>
                      <a href="#"><i class="icofont icofont-live-support"></i>
                        <span>Contact Us</span></a></li>
                    <li><a href="#"><i class="icofont icofont-company"></i>
                      <span>Apply</span></a></li>
                    <li class="login">
                      <a [routerLink]="['/auth/login/simple/']"><i class="icofont icofont-login"></i>
                        <span>Sign-On</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </header>

        <div class="bg-color-stripe"></div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 header-col">
            <div class="animateContent">
              <div><h1>Fx Online @ CIBC</h1></div>
            </div>
            <div class="animateContent">
              <div>
                <h2>
                  A
                  <em
                    ><span style="text-decoration: underline;">Fresh Way</span>
                  </em>
                  to Manage your FX.
                </h2>
              </div>
            </div>
            <div class="animateContent">
              <div>
                <div class="col-lg-9 contentText">
                  <h4>
                    Our advanced suite of electronic trading solutions. Get more
                    @CIBC. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                  </h4>
                </div>
              </div>
            </div>
            <div class="buttonContainer">
              <p>
                <a class="btn" href="#"><span>Apply Canada</span></a
                >&nbsp; &nbsp;<a class="btn" href="#"
                  ><span>Apply United States</span></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="backgroudBg"></div>
    <div
      class="svg-container no-color"
      data-front=""
      data-style="waves_opacity_alt"
      data-position="bottom"
      style="height:325px"
    >
      <svg
        class="nectar-shape-divider"
        fill=""
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1000 300"
        preserveAspectRatio="none"
      >
        <path
          d="M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z"
        ></path>
        <path
          d="M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z"
        ></path>
        <path
          d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z"
        ></path>
      </svg>
    </div>
    <div class="video-wrap" data-bg-alignment="left top">
      <div class="video-bg">
        <div class="vc_video-bg">
          <iframe
            class="inner"
            frameborder="0"
            allowfullscreen="1"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            title="YouTube video player"
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/LoIsRPqSjCM?playlist=LoIsRPqSjCM&iv_load_policy=3&enablejsapi=1&disablekb=1&autoplay=1&controls=0&showinfo=0&rel=0&loop=1&origin=http%3A%2F%2Fxmk.a1a.myftpupload.com&widgetid=1&mute=1"
            id="widget2"
          ></iframe>
        </div>
      </div>
    </div>
  </header>
  <section class="discover container contentSection">
    <div class="row discover-row">
      <div class="col-lg-4 discover-left">
        <img alt="" src="assets/images/p11-min-1.png" />
      </div>
      <div class="col-lg-8 discover-right">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-6 discover-box">
                <div class="box-inner-wrap">
                  <div class="inner">
                    <div class="inner-wrap">
                      <i class="icofont icon icofont-institution"></i>
                      <h3>Multi-Dealing</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 discover-box">
                <div class="box-inner-wrap">
                  <div class="inner">
                    <div class="inner-wrap">
                      <i class="icofont icon icofont-responsive"></i>
                      <h3>Mobile Responsive</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-6 discover-box">
                <div class="box-inner-wrap">
                  <div class="inner">
                    <div class="inner-wrap">
                      <i class="icofont icon icofont-chart-histogram"></i>
                      <h3>Market Insights</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 discover-box">
                <div class="box-inner-wrap">
                  <div class="inner">
                    <div class="inner-wrap">
                      <i class="icofont icon icofont-trophy"></i>
                      <h3>Great User Experience</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container contentSection rightImage">
    <div class="row">
      <div class="col-lg-6 prefered">
        <h2>The preferred way to manage your Foreign Exchange.</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.
        </p>
      </div>
      <div class="col-lg-6">
        <img
          animateOnScroll
          animationName="animated zoomIn slow"
          src="assets/images/fa211.png"
          class="img-responsive hide-on-init"
          alt="container"
        />
      </div>
    </div>
  </section>
  <footer>
    <div class="footerBg">
      <div class="footerTopCurve">
        <svg
          class="nectar-shape-divider"
          fill="#ffffff"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1000 100"
          preserveAspectRatio="none"
        >
          <path
            d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"
          ></path>
        </svg>
      </div>
      <div class="container">
        <div
          animateOnScroll
          animationName="animated flipInX slow"
          class="footerContent text-center"
          *ngIf="!isMobileView()"
        >
          <h3>Let's Get Started.</h3>
          <a [routerLink]="['/auth/login/simple/']" class="btn">Login Now</a>
        </div>
        <div *ngIf="isMobileView()"  class="footerContent text-center">
          <h3>Let's Get Started.</h3>
          <a [routerLink]="['/auth/login/simple/']" class="btn">Login Now</a>
        </div>
      </div>
    </div>
  </footer>
  <a id="to-top" class=""
    ><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i
  ></a>
</section>
